body{
    margin: 0;
    background-color: lightgray;
    font-family: sans-serif;
}

h1, h2{
    color: blue
}

header{
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center
    
}

nav{
margin-top: 40px;
}

aside{
position: absolute;
right: 0;
height: 70vh;
width: 300px;
background-color: white;
}

section{
    position: relative;
    right: 300px;
}

footer{
position: absolute;
right: 300px;
}

button{
    border: solid blue 1px;
    background: white
}